/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'ahsing'; /* 自定义字体名称 */
    src: url('@/assets/fonts/ahsing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'afarsek'; /* 自定义字体名称 */
    src: url('@/assets/fonts/afarsek.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bodoni'; /* 自定义字体名称 */
    src: url('@/assets/fonts/Bodoni.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }